.container {
  & .title {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
  }

  & .imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &::before {
      position: absolute;
      content: "My projects";
      display: inline-block;
      transform: rotate(90deg);
      left: -10rem;
      top: 10rem;
      letter-spacing: 5px;
      font-size: 1.5rem;
      opacity: 0.7;
      text-transform: uppercase;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
