.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 5rem;

  & .wrapper {
    height: auto;
    text-align: center;

    & img {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
