.social {
  list-style-type: none;
  display: flex;
  margin-block: 2rem;

  & li {
    margin-right: 1rem;
    color: var(--color-main);

    & a {
      color: var(--color-main);
    }
  }
}

.btn {
  font-weight: 600;
}

.btn:hover {
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  color: #fff;
}
